.main {
  font-family: -apple-system-body,BlinkMacSystemFont,"Helvetica Neue","Hiragino Sans","Hiragino Kaku Gothic ProN","Noto Sans Japanese","游ゴシック Medium","Yu Gothic Medium","メイリオ",meiryo,sans-serif;
  width: 90%;
  max-width: 656px;
  margin: 0 auto;
}

.h1 {
  font-weight: normal;
}

.a {
  text-decoration: none;
}